.node{
    width: 30px;
    height: 30px;
    border: 0.05px solid black;
    border-radius: 30px;
    box-shadow: 1px 1px 0.5px 0.5px rgba(0,0,0,.8);
    
}

.node-start{
    background-color:  green;
}

.node-end{
    background-color: red;
}

.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
  
@keyframes visitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: rgba(0, 0, 66, 0.75);
      border-radius: 10%;
      border-color: orange
    }
  
    25% {
        background-color: yellow;
        border-color: yellow;
    }

    50% {
      background-color: yellow;
      border-color: yellow;
    }
  
    75% {
      transform: scale(1.2);
      background-color: orange;
      border-color: orange;
    }
  
    100% {
      transform: scale(1);
      background-color: orange;
      border: 2px solid black;
    }
}
  
.node-wall {
    animation-name: wallAnimation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.6);
    background-color: black;
  }

  50% {
    transform: scale(1.2);
    background-color: black;
  }

  100% {
    transform: scale(1);
    background-color: black;
  }
}

.node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
  
@keyframes shortestPath {
    0% {
      transform: scale(0.6);
      background-color: purple;
    }
  
    50% {
      transform: scale(1.2);
      background-color: purple;
    }
  
    100% {
      transform: scale(1);
      background-color: purple;
    }
}