@import url('https://fonts.googleapis.com/css2?family=Alata&family=Mochiy+Pop+P+One&family=Sora:wght@300&display=swap');

* {
    font-family: 'Alata', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
